<div class="jumbotron center">
	<h1>Your next hire: Leanne Eckelberg</h1>
		<h2>Scroll down to see my top 10 travel pictures of the year!</h2>
			<h3>Sign up to try out the Ruby on Rails app I built through One Month Rails</h3>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
</div>
