<h1>Leanne Eckelberg</h1>
	<h2><strong>Experience</strong></h2>
     <h3>HoverStat, Austin, TX, 09/2014-01/2016 - Co-Founder and CEO</h3>
     	<p>HoverStat provides drone roof inspections and analytics using a robust software platform and 3D modeling.</p>
   	 <h3>Indeed, Austin, TX 08/2013-05/2015 - Vendor Operations Senior Associate</h3>
		<p>Developed and managed a network of contractors to mitigate the workload of routine tasks for employees. Outsourced tasks including joblist aggregation research, customer service, and lead qualification research.</p>
   	 <h3>Dandii Boru School, Addis Ababa, Ethiopia  01/2013-06/2013 - Teacher</h3> 
     	<p>Taught second grade English, created lesson plans, edited classroom materials, assissted with technology</p>
   	 <h3>Accurence, Inc., Westminster, CO  05/2011-11/2012 - Customer Support Specialist</h3>                      
		<p>Customer Support Specialist</br>                                                                         
		Product Consultant/Trainer (Construction Industry), 
		Provided support to partner: Consumers, Contractors, and Carriers Network, LLC (3C); 
		Enhanced business relationship between 3C, members, and partners; 
		Worked as a liaison between 3C, Accurence, EagleView, Hanson, and others; 
		Microsoft Dynamics CRM 2011 Project Lead;  
		Server Management - Assisted with server management; 
		Needs Assessment - Interviewed executives to determine departmental needs; 
		Customization – Branded, formatted, and performed light coding (JavaScript); 
		Implementation – Provided training and demonstrations; 
		Provided high level support for Accurence software</p> 
	 <h3>Ameritech Construction, Boulder, CO  08/2009-05/2011 - Canvasser</h3>
		<p>Generated leads, recruited and trained new employees</p>
	 <h3>CoPIRG (Colorado Public Interest Research Group), Boulder, CO  08/2008-07/2010 - Chapter Chair</h3>
		<p>Obtained full funding by facilitating the transition from a referendum account to the Student  
		Government Finance Board (SGFB);
		Oversaw five major campaigns; led and coordinated the Resolve to Fight Poverty campaign; State Board Vice Chair;
		Set and achieved organizational objectives</p>
     <h3>Student Government Finance Board, Boulder, CO  02/2010-4/2010
 Secretary and Voting Member</h3>                                                                        
        <p>Assessed each club’s funding proposal and award funds based on adherence to funding rules</p> 
<h2><strong>Education</strong></h2>
	 <h3>University of Colorado at Boulder, Boulder, CO  05/2008-08/2012</h3>
		<p>B.S. in Business Administration (Management, HR Concentration)</p>
		<p>B.A. in Psychology</p>
	 <h3>Universidad Católica de Valparaíso, Valparaíso, Chile  07/2010-12/2010</h3>
	 <p>Expertise: Sales; Marketing; Conversational Spanish skills (written and verbal); Advanced in MS Office Suite; MS CRM 2011 implementation; drones; FAA regulations; 3D modeling techniques; Quickbooks; company formation; fundraising techniques; business decks; business plans; Ruby on Rails and HTML beginner</p>
